
.input-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(90deg, #d3d61a, #3b82f6, #943aa7, #6634b8, #2bc738);
  background-size: 400% 100%;
  animation: line-move 10s linear infinite;
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}


.input-wrapper:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 15px rgba(51, 132, 255, 0.4);
}

.input-wrapper {
  position: relative;
  width: 380px;
  max-width: 90vw;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  z-index: 0;
}
